<html>

<head>
    <title>
        {{title}}
    </title>
</head>

<body>
    <p>Files</p>

    <a href="/{{subPart}}">Back to {{subPart}}</a>

    <div>
        <h4>Genres</h4>
        <a href="/books/adventure">Books - Adventure</a>
        <br>
        <a href="/pictures/linux">Picture - Linux</a>
        <br>
        <a href="/movies/comedy">Movies - Comedy</a>
    </div>

    {{#if path}}
    <ul id="links">
        <li>
            <a href="/download?id={{path}}">{{path}}</a>
        </li>
        {{#each files}}
        <li>
            <a href="/download?id={{this}}">{{this}}</a>
        </li>
        {{/each}}
    </ul>
    {{/if}}

    <hr>
    <div>
        <label>Return</label>
        <a href="/">Home</a>
    </div>

</body>

</html>