<html>

<head>
    <title>
        {{title}}
    </title>
</head>

<body>
    <p>Files</p>

    <a href="/{{returnPath}}">Back to {{returnPath}}</a>
    <hr>

    <div>
        {{#if loadgenre}}
        <h4>Genres</h4>
        <hr> {{#subDirs}}
        <br>
        <a href="{{../prefix}}{{this}}">{{this}}</a>
        {{/subDirs}} {{/if}}
    </div>

    <ul id="links">
        {{#if loadFiles}}
        <li>
            <a href="/download?id={{path}}">{{path}}</a>
        </li>
        {{#each files}}
        <li>
            <a href="/download?id={{this}}">{{this}}</a>
            <a href="/streamDirect?id={{this}}">STREAM</a>
        </li>
        {{/each}} {{/if}}
    </ul>

    <hr>
    <div>
        <label>Return</label>
        <a href="/">Home</a>
    </div>

</body>

</html>