<html>

<head>
    <title>
        {{title}}
    </title>
</head>

<body>
    <p>Files</p>

    <a href="/{{returnPath}}">Back to {{returnPath}}</a>
    <hr>

    <div>
        <h4>Genres</h4>
        <ul>
            {{#subDirs}}
            <li>
                <a href="{{../prefix}}{{this}}">{{this}}</a>
            </li>
            {{/subDirs}}
        </ul>
    </div>

    <hr>
    <div>
        <h4>Files</h4>
        <ul id="links">
            <li>
                <a href="/download?id={{path}}">{{path}}</a>
            </li>
            {{#files}}
            <li>
                <a href="/download?id={{this}}">{{this}}</a>
                <a href="/streamDirect?id={{this}}">STREAM</a>
            </li>
            {{/files}}
        </ul>
    </div>

    <hr>
    <div>
        <label>Return</label>
        <a href="/">Home</a>
    </div>

</body>

</html>